/*
 * Skin: pink
 * -----------
 */
.skin-pink .main-header .navbar {
    background-color: #E91E63;
}

.skin-pink .main-header .navbar .nav>li>a {
    color: #ffffff;
}

.skin-pink .main-header .navbar .nav>li>a:hover,
.skin-pink .main-header .navbar .nav>li>a:active,
.skin-pink .main-header .navbar .nav>li>a:focus,
.skin-pink .main-header .navbar .nav .open>a,
.skin-pink .main-header .navbar .nav .open>a:hover,
.skin-pink .main-header .navbar .nav .open>a:focus,
.skin-pink .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-pink .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}

.skin-pink .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-pink .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-pink .main-header .navbar .sidebar-toggle:hover {
    background-color: rgb(196, 19, 78);
}

@media (max-width: 767px) {
    .skin-pink .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-pink .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-pink .main-header .navbar .dropdown-menu li a:hover {
        background: #E91E63;
    }
}

.skin-pink .main-header .logo {
    background-color: #E91E63;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-pink .main-header .logo:hover {
    background-color: #E91E63;
}

.skin-pink .main-header li.user-header {
    background-color: #E91E63;
}

.skin-pink .content-header {
    background: transparent;
}

.skin-pink .wrapper,
.skin-pink .main-sidebar,
.skin-pink .left-side {
    background-color: #222d32;
}

.skin-pink .user-panel>.info,
.skin-pink .user-panel>.info>a {
    color: #fff;
}

.skin-pink .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}

.skin-pink .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.skin-pink .sidebar-menu>li:hover>a,
.skin-pink .sidebar-menu>li.active>a,
.skin-pink .sidebar-menu>li.menu-open>a {
    color: #ffffff;
    background: #1e282c;
}

.skin-pink .sidebar-menu>li.active>a {
    border-left-color: #E91E63;
}

.skin-pink .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.skin-pink .sidebar a {
    color: #b8c7ce;
}

.skin-pink .sidebar a:hover {
    text-decoration: none;
}

.skin-pink .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}

.skin-pink .sidebar-menu .treeview-menu>li.active>a,
.skin-pink .sidebar-menu .treeview-menu>li>a:hover {
    color: #ffffff;
}

.skin-pink .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.skin-pink .sidebar-form input[type="text"],
.skin-pink .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-pink .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-pink .sidebar-form input[type="text"]:focus,
.skin-pink .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-pink .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff;
}

.skin-pink .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}